javascript/tests/*
!javascript/tests/package.json
!javascript/tests/package-lock.json
!javascript/tests/spec
javascript/tests/spec/*
!javascript/tests/spec/algos/

javascript/partition.js
python/longestSubStr.py

misc/
python/__pycache__/